.fb-page(data-href='https://www.facebook.com/munichillia/', data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
  blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/munichillia/')
    a(href='https://www.facebook.com/munichillia/') Municipalidad Distrital de Chillia
