nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#')
    img.navbar-logo(src="/assets/img/logo-muni-chilia.png", alt="")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    include /includes/main-menu