-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Municipalidad',
      url: 'about.html',
      child: [
        {
          title: 'Misión y Visión',
          url: 'mision-vision.html',
          child: []
        },
        {
          title: 'Historia',
          url: 'historia.html',
          child: []
        }
      ]
    },
    {
      title: 'Convocatorias CAS',
      url: 'convocatorias.html',
      child: []
    },
    {
      title: 'Noticias',
      url: 'noticias.html',
      child: []
    },
    {
      title: 'Intranet',
      url: 'intranet.html',
      child: []
    },
    {
      title: 'Transparencia',
      url: 'transparencia.html',
      child: []
    }
  ]
